@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body
{
	font-family: Roboto;
}
.blog-header
{
	background-image: url("../images/header-bg.jpg");
}

.blog-header-group
{
	color:white;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 50px;
}
.blog-header-sec
{
	font-weight: 300;
	margin-top:10px;
}
.content
{
	margin-top:40px;
	margin-bottom: 40px;
}

hr
{
	margin-top: -5px;
	margin-bottom: -5px;
}

.share-group
{
	margin-top:30px;
}

.share-social-button
{
	margin-top: 10px;
	width: 30px;
	height: 30px;
}
.footer
{
	margin-top:20px;
	padding-bottom:10px;
	color:white;
	background-color: rgb(25,172,144);
}

.copyright-text
{
	margin-top: 20px;
	font-weight: 200;
}

.footer-contact
{
	float: right;
	display: inline;
	margin-top: 80px;
}